@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

* {
    box-sizing: border-box;
}
  
html, body {
    background-color: hsl(30, 38%, 92%);
    font-size: 0.875rem;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

p {
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}

s {
    color: hsl(228, 12%, 48%)
}

img {
    max-width: 18.75rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.card {
    display: flex;
    margin: 1.25rem;
    max-width: 37.5rem;
    max-height: 28.125rem;
    background: #fff;
    border-radius: 0.5rem;
}

.right {
    padding: 1.25rem 1.5625rem;
}



.price {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

h1 {
    font-family: Fraunces;
}

.price h1 {
    color: hsl(158, 36%, 37%);
    font-family: Fraunces;
}

.price s {
    margin-left: 13px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    background-color: hsl(158, 36%, 37%);
    color: white;
    cursor: pointer;
    border-radius: 0.5625rem;
    border: none;
    width: 100%;
}

svg {
    margin-right: 0.625rem;
}

button:hover {
	background-color: hsl(160, 21%, 14%)
}

footer {
    margin-bottom: 1.25rem;
}

@media only screen and (max-width: 600px){
    .card {
        display: flex;
        position: relative;
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;
    }

    footer {
        display: none;
    }

    img {
        max-width: 100%;
        border-radius: 0.5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media only screen and (min-width: 600px) {

    .right p {
        padding-right: 0.625rem;
    }
    .right h1 {
        padding-right: 0.625rem;
    }
    
    button {
        margin: 0.625rem auto;
    }
}